@{
    ViewBag.Title = "Card Numbers";
}

<div class="container">
    <div class="row-content">
        <div class="col-xs-12 col-sm-3">
            <h2>
                Action with credit cards numbers
            </h2>
        </div>
        <div class="col-xs-12 col-sm-9">

            <form class="form-horizontal">
                <fieldset>
                    <legend>Check your card</legend>
                    <div class="form-group">
                        <label for="vendor" class="col-sm-2 control-label">Number</label>
                        <input id="vendor" type="text" />
                        <div class="btn btn-primary col-sm-offset-2" id="btn-vendor">Find vendor</div>
                    </div>


                    <div class="form-group">
                        <label for="isValid" class="col-sm-2 control-label">Number</label>
                        <input id="isValid" type="text" />
                        <div class="btn btn-primary col-sm-offset-2" id="btn-isValid">Is valid</div>
                    </div>
                </fieldset>
            </form>

            <form class="form-horizontal">
                <fieldset>
                    <legend>Generate next card number</legend>
                    <div class="form-group">
                        <label for="genNext" class="col-sm-2 control-label">Your number: </label>
                        <input id="genNext" type="text" value="@ViewBag.Number" />
                        <input class="btn btn-primary col-sm-offset-2" type="submit" id="btn-genNext" value="Generate next" />

                        <input class="hide" type="radio" name="vendor" id="AMEX" value="AMEX" />

                        <input class="hide" type="radio" name="vendor" id="maestro" value="Maestro" />

                        <input class="hide" type="radio" name="vendor" id="master" value="Master" />

                        <input class="hide" type="radio" name="vendor" id="visa" value="VISA" />

                        <input class="hide" type="radio" name="vendor" id="jcb" value="JCB" />

                        
                    </div>
                </fieldset>

            </form>

        </div>
    </div>
</div>

