@{
    ViewBag.Title = "Card Numbers";
}

<div class="container">
    <div class="row-content">
        <div class="col-xs-12 col-sm-3">
            <h2>
                Action with credit cards numbers
            </h2>
        </div>
        <div class="col-xs-12 col-sm-9">

            <form class="form-horizontal">
                <fieldset>
                    <legend>Check your card</legend>
                    <div class="form-group">
                        <label for="vendor" class="col-sm-2 control-label">Number</label>
                        <input id="vendor" type="text" />
                        <div class="btn btn-primary col-sm-offset-2" id="btn-vendor">Find vendor</div>
                    </div>


                    <div class="form-group">
                        <label for="isValid" class="col-sm-2 control-label">Number</label>
                        <input id="isValid" type="text" />
                        <div class="btn btn-primary col-sm-offset-2" id="btn-isValid">Is valid</div>
                    </div>
                </fieldset>
            </form>

            <form class="form-horizontal">
                <fieldset>
                    <legend>Generate new card number</legend>
                    <div class="form-group">
                        <input class="col-sm-offset-1" type="radio" name="vendor" id="AMEX" value="AMEX" />
                        <label for="AMEX" class="control-label">American Express</label>

                        <input type="radio" name="vendor" id="maestro" value="Maestro" />
                        <label for="maestro" class="control-label">Maestro</label>

                        <input type="radio" name="vendor" id="master" value="Master" />
                        <label for="master" class="control-label">Master Card</label>

                        <input type="radio" name="vendor" id="visa" value="VISA" />
                        <label for="visa" class="control-label">VISA</label>

                        <input type="radio" name="vendor" id="jcb" value="JCB" />
                        <label for="jcb" class="control-label">JCB</label>

                        <label for="genNew" class="col-sm-2 control-label">Vendors: </label>
                        <input class="col-sm-offset-2" id="genNew" type="text" value="@ViewBag.Number" />
                        <input class="btn btn-primary col-sm-offset-2" type="submit" id="btn-genNew" value="Generate" />
                    </div>
                </fieldset>

            </form>

        </div>
    </div>
</div>

